header.header
    .container 
        .row.align-items-center
            .col-3  
                .inner-logo     
                    a(href="/")
                        img(src="images/png-clipart-kamina-t-shirt-simon-logo-svg-gallery-leaf-logo.png", alt="Logo")

            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            a(href="/products") Sản phẩm    
                            ul 
                                li 
                                    a(href="/producs/slug-1") Muc 1 
                                        ul 
                                            li 
                                                a(href="/products/slug-1-1") Muc 1 - 1
                                            li 
                                                a(href="/products/slug-1-2") Muc 1 -2  
                                li 
                                    a(href="/products/slug-2") Muc 2              